### Final Project Part 2 
Group 6: Paul Miller, Aimee Flynn, Barza Fayazi-Azad <br>
Song Recommendation Engine

## Preprocessing
The preprocessing stage takes our CSV that includes some manual cleanup and normalizes the data. Normalization of the data includes turning text into lower case, removing special characters and whitespaces, and tokenization.

In [74]:
import warnings
warnings.filterwarnings('ignore')

In [75]:
import numpy as np
import pandas as pd
import re
import nltk
import matplotlib.pyplot as plt

pd.options.display.max_colwidth = 200
%matplotlib inline

In [103]:
#Reading in csv file into dataframe
rawdata = pd.read_csv("Spotify-2000manualcleaned.csv")
rawdata.head(2)

,Index,Title,Artist,Top Genre,Year,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004,157,30,53,-14,11,68,201,94,3,71
1,2,Black Night,Deep Purple,album rock,2000,135,79,50,-11,17,81,207,17,7,39

In [105]:
#For our Recommendation Engine, the team deemed only three columns were needed
needed_data = rawdata[["Title", "Artist", "Top Genre"]]
needed_data.head(1)

     Title       Artist        Top Genre
0  Sunrise  Norah Jones  adult standards

In [106]:
#Simple EDA
print('The shape of the data: ', needed_data.shape)
print()
print('The sum of null values: ', needed_data.isnull().sum())

The shape of the data:  (1994, 3)

The sum of null values:  Title        0
Artist       0
Top Genre    0
dtype: int64

In [107]:
#normalizing data
#Put each column into a list
titles = needed_data['Title'].tolist()
artists = needed_data['Artist'].tolist()
genres = needed_data['Top Genre'].tolist()
#Combine same elements in each list to create a corpus like data
corpus = [f"{elem1} {elem2} {elem3}" for elem1, elem2, elem3 in zip(titles, artists, genres)]

In [108]:
#Normalizing the data by turning text into lower case, removing special characters and whitespaces, and tokenization.
tokenizer = nltk.WordPunctTokenizer()
nltk.download('stopwords')
stop_words = nltk.corpus.stopwords.words('english')

def normalized(text):
  text = re.sub(r'[^a-zA-Z\s]', '', text, re.I|re.A)
  text = text.lower()
  text  = text.strip()
  tokens = tokenizer.tokenize(text)

  filtered_tokens = [token for token in tokens if token not in stop_words]
  text   = ' '.join(filtered_tokens)
  return text
normalizedText = np.vectorize(normalized)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\bfa12\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [158]:
normCorpus = normalizedText(corpus)
normCorpus[0]

'sunrise norah jones adult standards'

## Feature Extraction
The feature extraction phase incudes a few different NLP methods, including implementation of a BOW model using CountVectorizer, implementing a TF-IDF model using TfidfTransformer, implementing a text similarity matrix using cosine similarity, and experimenting with a topic extraction model using LatentDirichletAllocation

In [111]:
#implementing BOW Model
from sklearn.feature_extraction.text import CountVectorizer
# get bag of words features in sparse format
cv = CountVectorizer(min_df=0., max_df=1.)
cv_matrix = cv.fit_transform(normCorpus)

In [112]:
#Implementing TF-IDF Model
from sklearn.feature_extraction.text import TfidfTransformer

tt = TfidfTransformer(norm='l2', use_idf=True, smooth_idf=True)
tt_matrix = tt.fit_transform(cv_matrix)

tt_matrix = tt_matrix.toarray()
vocab = cv.get_feature_names()
pd.DataFrame(np.round(tt_matrix, 2), columns=vocab).head()

,aan,aanzoek,abba,abel,absolute,absolution,accidentally,acda,acdc,ace,...,zone,zonnestralen,zou,zoutelande,zucchero,zullen,zuuje,zwart,zweet,zz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
#Implementing text similary (Cosine)
from sklearn.metrics.pairwise import cosine_similarity

similarity_matrix = cosine_similarity(tt_matrix)
similarity_df = pd.DataFrame(similarity_matrix)
similarity_df.head()

,0,1,2,3,4,5,6,7,8,9,...,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.135837,0.167904,0.135073,0.151826,0.149079,0.147947,0.000000,0.0,0.132355
1,0.0,1.000000,0.000000,0.000000,0.017824,0.013021,0.0,0.019696,0.020087,0.000000,...,0.042465,0.000000,0.021201,0.000000,0.000000,0.000000,0.000000,0.016649,0.0,0.000000
2,0.0,0.000000,1.000000,0.055325,0.000000,0.035211,0.0,0.000000,0.000000,0.247745,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
3,0.0,0.000000,0.055325,1.000000,0.000000,0.042436,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,0.0,0.017824,0.000000,0.000000,1.000000,0.011078,0.0,0.016757,0.017089,0.000000,...,0.012230,0.000000,0.018037,0.000000,0.000000,0.000000,0.000000,0.014164,0.0,0.000000

In [114]:
#Implementing Toplic Extraction
from sklearn.decomposition import LatentDirichletAllocation

lda = LatentDirichletAllocation()
dt_matrix = lda.fit_transform(cv_matrix)
features = pd.DataFrame(dt_matrix)
features.head()

,0,1,2,3,4,5,6,7,8,9
0,0.016668,0.016667,0.016667,0.016667,0.016667,0.016667,0.016667,0.683337,0.016667,0.183327
1,0.014286,0.014286,0.014286,0.014288,0.014286,0.014287,0.871422,0.014286,0.014286,0.014287
2,0.442847,0.014286,0.157142,0.014290,0.014286,0.014286,0.014286,0.300003,0.014286,0.014288
3,0.016667,0.016667,0.332895,0.016668,0.016667,0.016667,0.016667,0.016667,0.016667,0.533769
4,0.012501,0.012500,0.012500,0.487294,0.157976,0.012501,0.012501,0.012500,0.267227,0.012501

## Functionality
The functionality phase includes our main functionality, which is a recommendation engine function that outputs the top 10 most similar songs to the song inputted by the user. It uses the consine similarity matrix outputted during the feature extraction phase to pull the top 10 recommended songs. We also provide some testing of our functionality using a few songs at random.

In [160]:
# Recommendation Engine Function to output the top 10 most smilar songs to the user inputted title 

def song_rec_engine(song_title, song_list=rawdata['Title'].values, sim_matrix_df=similarity_df):
    
    # Get the id of the inputted song title
    song_index = np.where(song_list == song_title)[0][0]
    
    # Get all the similarity values to the inputted song title
    similar_songs = sim_matrix_df.iloc[song_index].values
    
    # Get the IDs of the top 10 most similar songs to the inputted song title
    # We skip the first once since it will always be the same song that was inputted
    similar_song_ids = np.argsort(-similar_songs)[1:11]
    
    # Get the names of the top 10 similar songs
    similar_song_names = song_list[similar_song_ids]
    
    # Return the song names 
    return similar_song_names

In [161]:
# Testing out the functionality with some random songs
# Eventually this will transition to a user-inputted song title
test_song_list = [rawdata['Title'][50], rawdata['Title'][123], rawdata['Title'][33], rawdata['Title'][86]]

for song in test_song_list:
    print("The song you selected was: {}".format(song))
    print("The top 10 recommended songs are: {}".format(song_rec_engine(song)))
    print("")

The song you selected was: Just Breathe
The top 10 recommended songs are: ['Black' 'Alive' 'Daughter ' 'Rearviewmirror ' 'Jeremy' 'Even Flow'
 'Breathe' 'The Air That I Breathe ' 'Black Betty' 'About A Girl']

The song you selected was: Eternal Flame
The top 10 recommended songs are: ['Let There Be Rock' 'Overture' "It's All Over Now " 'My Generation '
 'Crazy On You' 'Is This Love ' 'Rock and Roll ' 'See Me, Feel Me '
 'Alone' 'The End']

The song you selected was: Don't Know Why
The top 10 recommended songs are: ['Sunrise' "If You Don't Know Me by Now " 'Green Green Grass Of Home'
 "You Don't Bring Me Flowers" 'Mr. Jones'
 "Theme From Mahogany (Do You Know Where You're Going To) "
 '25 or 6 to 4 ' 'Does Your Mother Know' 'I Want to Know What Love Is '
 'Somewhere Only We Know']

The song you selected was: Modern World
The top 10 recommended songs are: ['Girl' 'Lost' 'Michel' 'Birds' 'Jerusalem' 'Sacrifice' "R U Kiddin' Me"
 'One Word' 'For Bitter Or Worse' "I Don't Wanna Hurt"]